{% extends 'todos/base.html' %}

{% block title %}
<title>Todo list</title>
{% endblock %}

{% block content %}

{% if todo_list %}
<div class="row">
    {% for todo in todo_list %}
    <div class="col-sm-6">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{ todo.title }}</h5>
                <p class="card-text">{{ todo.description }}</p>
                <a href="{% url 'todos:edit' todo.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'todos:delete' todo.id %}" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No todos as of now</p>
{% endif %}
{% endblock %}
