{% extends 'todos/base.html' %}

{% block title %}
<title>Todo list</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
      <h1>Todo List</h1>
    </div>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" id="newTodo" placeholder="Do laundry">
        </div>
        <button type="button" id="addItem" class="btn btn-success">Add To Do</button>
      </div>
    </form>
    {% for todo in todo_list %}
    <div class="card text-center w-75">
      <div class="card-body">
        <h5 class="card-title">{{ todo.title }}</h5>
        <a href="{% url 'todos:delete' todo.id %}" class="btn btn-primary">Delete</a>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}